.dashboard-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 6px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.metrics-row {
  height: 175px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.metrics-row.lg {
  height: 260px;
}
.metric-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 270px;
  border: 1px solid #eaedf3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.metric-card.lg {
  max-width: 554px;
}

.metric-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 0.8px solid #eaecee;
}
.metric-card h4 {
  font-size: 16px;
  font-weight: 500;
}
.metric-card .difference {
  color: #34aa44;
  font-size: 12px;
  font-weight: 400;
}
.metric-card p {
  font-size: 14px;
  font-weight: 100;
}
.md .metric-header .tag {
  font-size: 12px;
  font-weight: 400;
}
.md .metric-header {
  gap: 16px;
  justify-content: left;
}

.metric-header .more-button {
  background-color: transparent;
  margin-left: auto;
}

.metric-icon {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2px;
}

.metric-children {
  display: flex;
  align-items: center;
  padding: 35px 24px 0;
}
.metrics {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.metrics > div {
  display: flex;
  justify-content: right;
  gap: 8px;
  flex-direction: column;
  text-align: right;
}
.metrics .top {
  flex: 1;
  border-bottom: 1px solid #eaecee;
  padding-bottom: 15px;
}

.metrics h3 {
  font-size: 20px;
  font-weight: 500;
}

.metrics p {
  font-size: 11px;
}
.sm .metric-children {
  padding: 20px 24px 0;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.sm .metrics {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 14px;
  align-items: center;
}
.sm .metrics h3 {
  font-size: 36px;
  font-weight: normal;
  align-items: center;
}

.sm .metrics p {
  color: #348373;
  font-weight: 400;
}

progress {
  border-radius: 2px;
  height: 4px;
  display: block;
  width: 100%;
  margin-bottom: 14px;
}
progress::-webkit-progress-bar {
  background-color: #eaecee;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: #016450;
  border-radius: 2px;
}
progress::-moz-progress-bar {
  background-color: #eaecee;
  border-radius: 2px;
}
progress::-moz-progress-value {
  background-color: #016450;
  border-radius: 2px;
}
progress::-ms-progress-bar {
  background-color: #eaecee;
  border-radius: 2px;
}
progress::-ms-progress-value {
  background-color: #016450;
  border-radius: 2px;
}
